


  <div class="org-main-window-panel">

    <div class ="org-info-display"  id="org-homepage">   
      <div class="org-info-list">
        <ol> 
          <li><span><%=t("Mission")%></span>
            <p>
              <%= @org.mission %>
            </p></li>

          <li><span><%=t("Causes") %></span>  
            <p>
            <%= @org.causes.map { |cause| cause.description }.add_commas %>
            </p></li>
            
          <li><span><%=t("Objectives")%></span>
            <p>
            <% @org.objectives.each do |obj| %>
             <p><%= obj.summary %></p>
             <% end %>
            </p></li>

          <li><span><%=t("Activities")%></span>
            <p>
              <%= @org.activities.map { |activity| activity.description }.add_commas %>
            </p></li>

          <li><span><%=t("Staff")%></span>
            <p>
              <%= render partial: 'staff_table' %>
            </p></li>

          <li><span><%=t("Branches")%></span>
             <p>
              <% @org.branches.each do |branch| %>
              <%= branch.description %><br>
              <% end %>
            </p></li>

          <li><span><%=t(:Age_Group)%></span>
             <p>
            <%= @org.ages.map { |age| age.description }.add_commas %>
            </p></li>

          <li><span><%=t("Other")%></span>
             <p>
                <b><%="Founding Date"+": "%><font class="org-text-padding"> </b><%=@org.founding_date.strftime("%d-%m-%Y") %></font><br>
                <b><%="Starting Date"+": "%><font class="org-text-padding"> </b><%= @org.starting_date.strftime("%d-%m-%Y") %></font><br>
                <b><%="Type of Legal Entity"+": "%><font class="org-text-padding"> </b><%= @org.legal_type %></font><br>
                <b><%="Legal Entity No"+": "%><font class="org-text-padding"> </b><%= @org.legal_num %></font><br> 
                <b><%="CUIT:   " %><font class="org-text-padding"> </b><%= @org.cuit %></font></br>
            </p></li>
         


          <li><span><%"intentionally left blank"%></span>
             
             <p>

              <% if @org.trans_policy %>
              <%= image_tag("check.png", class: "check-or-cross") %>
              <%else%>
              <%= image_tag("cross.png", class: "check-or-cross") %>
              <% end %>
              <span class="org-text-padding"><%=t(:Transparency_Policy)%></span>

              <br>
              <% if @org.code_conduct %>
              <%= image_tag("check.png", class: "check-or-cross") %>
              <%else%>
              <%= image_tag("cross.png", class: "check-or-cross") %>
              <% end %>
              <span class="org-text-padding">Written Code of Conduct</span>
              
              <br>
              <% if @org.vat_exempt %>
              <%= image_tag("check.png", class: "check-or-cross") %>
              <%else%>
              <%= image_tag("cross.png", class: "check-or-cross") %>
              <% end %>
              <span class="org-text-padding"><%=t(:VAT_Exempt)%></span>
            
              <br>
              <% if @org.income_exempt %>
              <%= image_tag("check.png", class: "check-or-cross") %>
              <%else%>
              <%= image_tag("cross.png", class: "check-or-cross") %>
              <% end %>
              <span class="org-text-padding"><%=t(:Income_Tax_Exempt)%></span>

              <br>
              <% if @org.tax_ded %>
              <%= image_tag("check.png", class: "check-or-cross") %>
              <%else%>
              <%= image_tag("cross.png", class: "check-or-cross") %>
              <% end %>
              <span class="org-text-padding"><%=t(:Tax_Deductible)%></span>


              <br>
              <% if @org.external_auditor %>
              <%= image_tag("check.png", class: "check-or-cross") %>
              <%else%>
              <%= image_tag("cross.png", class: "check-or-cross") %>
              <% end %>
              <span class="org-text-padding">Annual External audit of finances
                <% if @org.auditor_name %> 
                <br><font size="small"><%="-  "%></font>
                <% end %>
              </span>

              <br>
              <% if @org.annual_reporting %>
              <%= image_tag("check.png", class: "check-or-cross") %>
              <%else%>
              <%= image_tag("cross.png", class: "check-or-cross") %>
              <% end %>
              <span class="org-text-padding">Annual Reporting of Financial Results</span>


              <br>
              <% if @org.external_prog_eval %>
              <%= image_tag("check.png", class: "check-or-cross") %>
              <%else%>
              <%= image_tag("cross.png", class: "check-or-cross") %>
              <% end %>
              <span class="org-text-padding">Annual External Program Evaluation</span>


        
            </p></li>

        </ol> 
     </div>
   </div>


    <div class="org-info-display" id="org-programs" >
      <div class="org-info-list">
        <ol> 

    
            <li><span><%=t("Programs")%></span>
            <p>
              <%= render partial: 'program_table' %>
            </p></li>

        </ol> 
      </div>
    </div>

    <div class="org-info-display" id="org-financials">

   <div class="org-info-list">
        <ol> 
          <li><span>Budget</span><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent euismod ultrices ante, ac laoreet nulla vestibulum adipiscing. Nam quis justo in augue auctor imperdiet. Curabitur aliquet orci sit amet est posuere consectetur. Fusce nec leo ut massa viverra venenatis. Nam accumsan libero a elit aliquet quis ullamcorper arcu tincidunt. Praesent purus turpis, consectetur quis congue vel, pulvinar at lorem. Vivamus varius condimentum dolor, quis ultricies ipsum porta quis. </p></li>
          <li><span>Objectives</span><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent euismod ultrices ante, ac laoreet nulla vestibulum adipiscing. Nam quis justo in augue auctor imperdiet. Curabitur aliquet orci sit amet est posuere consectetur.  </p></li>
          <li><span>Staff</span><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent euismod ultrices ante, ac laot. Curabitur aliquet orci sit amet est posuere consectetur.  </p></li>
          <li><span>Staff</span><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent euismod ultrices ante, ac laoreet nulla vestibulum adipiscing. Nam quis justo in augue auctor imperdiet. Curabitur aliquet orci sit amet est posuere consectetur.  </p></li>
           <li><span>Staff</span><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent euismod ultrices ante, ac laoreet nulla vestibulum adipiscing. Nam quis justo in augue auctor imperdiet. Curabitur aliquet orci sit amet est posuere consectetur.  </p></li>
            <li><span>Staff</span><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent euismod ultrices ante, ac laoreet nulla vestibulum adipiscing. Nam quis justo in augue auctor imperdiet. Curabitur aliquet orci sit amet est posuere consectetur.  </p></li>
        </ol> 
     </div>
    </div>



    <div class="org-info-display" id="org-team">

  <div class="org-info-list">
        <ol> 
          <li><span>Activities</span><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent euismod ultrices ante, ac laoreet nulla vestibulum adipiscing. Nam quis justo in augue auctor imperdiet. Curabitur aliquet orci sit amet est posuere consectetur. Fusce nec leo ut massa viverra venenatis. Nam accumsan libero a elit aliquet quis ullamcorper arcu tincidunt. Praesent purus turpis, consectetur quis congue vel, pulvinar at lorem. Vivamus varius condimentum dolor, quis ultricies ipsum porta quis. </p></li>
          <li><span>Objectives</span><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent euismod ultrices ante, ac laoreet nulla vestibulum adipiscing. Nam quis justo in augue auctor imperdiet. Curabitur aliquet orci sit amet est posuere consectetur.  </p></li>
          <li><span>Staff</span><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent euismod ultrices ante, acdiet. Curabitur aliquet orci sit amet est posuere consectetur.  </p></li>
          <li><span>Staff</span><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent euismod ultrices ante, ac laoreet nulla vestibulum adipiscing. Nam quis justo in augue auctor imperdiet. Curabitur aliquet orci sit amet est posuere consectetur.  </p></li>
           <li><span>Staff</span><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent euismod ultrices ante, ac laoreet nulla vestibulum adipiscing. Nam quis justo in augue auctor imperdiet. Curabitur aliquet orci sit amet est posuere consectetur.  </p></li>
            <li><span>Staff</span><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent euismod ultrices ante, ac laoreet nulla vestibulum adipiscing. Nam quis justo in augue auctor imperdiet. Curabitur aliquet orci sit amet est posuere consectetur.  </p></li>
        </ol> 
     </div>
    </div>


   <div class="org-info-display" id="org-affiliations">

<div class="org-info-list">
        <ol> 
          <li><span>Mission</span><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent euismod ultrices ante, ac laoreet nulla vestibulum adipiscing. Nam quis justo in augue auctor imperdiet. Curabitur aliquet orci . </p></li>
          <li><span>Objectives</span><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent euismod ultrices ante, ac laoreet nulla vestibulum adipiscing. Nam quis justo in augue auctor imperdiet. Curabitur aliquet orci sit amet est posuere consectetur.  </p></li>
          <li><span>Staff</span><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent euismod ultrices ante, ac laoring. Nam quis justo in augue auctor imperdiet. Curabitur aliquet orci sit amet est posuere consectetur.  </p></li>
          <li><span>Staff</span><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent euismod ultrices ante, ac laoreadipiscing. Nam quis justo in augue auctor imperdiet. Curabitur aliquet orci sit amet est posuere consectetur.  </p></li>
           <li><span>Staff</span><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent euismod ultrices ante, am adipiscing. Nam quis justo in augue auctor imperdiet. Curabitur aliquet orci sit amet est posuere consectetur.  </p></li>
            <li><span>Staff</span><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent euismod ultrices ante, ac t. Curabitur aliquet orci sit amet est posuere consectetur.  </p></li>
        </ol> 
     </div>

    </div>






      
  










  </div>

