<div class='org-top-header'>
  <div class="org-header-left">
    <% if @org.logo_url %>
        <%= image_tag(@org.logo_url, :alt =>"", :class=>"org-logo-image") %>
     <% else %>
       <%= image_tag("http://upload.wikimedia.org/wikipedia/commons/thumb/1/1a/Flag_of_Argentina.svg/800px-Flag_of_Argentina.svg.png",:alt=>"", :class=> "org-logo-image") %>
     <% end %>

       <span class='my-resizer' id='org-header-title'> <%=@org.name%><br> </span>

        <p><span id="org-stars" >
          <% @transparency = 2 %>
         <%=" ★ " * @transparency %>
         <%= " ☆ " * (3 - @transparency) %>
       </span></p>
  </div>


</div>
