<div class='org-side-window'>
  <div class='org-header-right'>
      <%= @name %><br>
      <%= @address %><br>
      <%= @city %>,<%= @province %><br>
      <%= @telephone %><br>
      <%= @email %><br>
      <%= @website %>
    </ul>
  </div>
<br>

 </div>
