<div class='org-side-window'>
  <div class='org-header-right'>
    <br>
      <div class='org-profile-icons' >
       <%=image_tag("facebook-s.png",class: 'desaturate' )%><br>
       <%=image_tag("googleplus-s.png", class: 'desaturate') %><br>
       <%=image_tag("linkedin-s.png", class: 'desaturate') %>
       
    </div>
      <ul>
        <li><%= @org.name %></li>
        <li><%= @org.address %></li>
        <li><%= @org.city %>,<%=" "+ @org.locations.find_by_primary(true).province.name %></li>
        <li><%= @org.telephone %></li>
        <li><%= @org.email %></li>
        <li><%= @org.website %></li>
      </ul>
  
    
  </div>

 </div>
