<table id="org-data-table">
  <thead>
    <td><%= t("Individuals") %></td>
    <td><%= t("Organizations") %></td>
    <td><%= t(:General_Public) %></td>
  </thead>

  <tr>
    <td><%= @org.num_prog_ind %></td>
    <td><%= @org.num_prog_org %></td>
    <td><%= @org.num_prog_pub %></td>
  </tr>

</table>
