<table id="org-data-table">
  <thead>
    <td><%= t(:Full_time) %></td>
    <td><%= t(:Part_time) %></td>
    <td><%= t("Volunteers") %></td>
  </thead>

  <tr>
    <td><%= @org.fte %></td>
    <td><%= @org.pte %></td>
    <td><%= @org.volunteers %></td>
  </tr>

</table>
