<h1><%= t("Welcome") %> </h1>
<h2><%= t("this sentence wont be translated") %></h2>
<h2><%= t(:using_key_to_translate) %>
<h2><%= t(:homepage_header2) %> <h2>
<br>
<%= link_to "link to sample org", "/orgs/1" %>
<br>
