
<div id="search">
  <p><%= t("Search")%> <%=t("Organizations")%></p>
  <%= form_tag :search_orgs, method: :get do %>
    <fieldset class="search">
      <%= text_field_tag :search_terms, nil, id: "keyword", placeholder: t("Search_by") %>
      <%= submit_tag t("Search"), class: "small radius success button" , id: "search-submit" %>
    </fieldset>
  <% end %>
</div>



