
<div class="row">
  <div class='small-11 small-centered columns'>
  <fieldset>
<h1 class = "form-heading"> <b>+ ADD YOUR ORGANIZATION</b> </h4>
<h4 class = "form-heading"> <b>Please fill out the following form to add your organization to the database:</b> </h4><br /><br />

<fieldset>
  <h4>GENERAL INFO</h4>
    <%= form_for @org do |f| %>
    	
      
    	<%= f.label(:org_name, "Organization Name:") %>
    	<%= f.text_field  :name, :placeholder => "e.g. Fundacion HelpArgentina" %><br />


     	<%= f.label(:org_initiales, "Organization Initials:") %>
      <%= f.text_field  :initials, :placeholder => "e.g. HA" %><br />

      <%= f.label(:preferred_name, "Organization Preferred Name: (to be displayed in your org profile)") %>
      <%= f.text_field  :preferred_name, :placeholder => "e.g. HelpArgentina" %><br />

    	<%= f.label(:street_address, "Street Address (primary office):") %>
      <%= f.text_field  :address, placeholder: "e.g. Sanchez de Bustamante 191, pb A" %><br />

      <%= f.label(:city, "City:") %>
      <%= f.text_field  :city, placeholder: "e.g. Buenos Aires" %><br />

      <%= f.fields_for :locations do |ff| %>
        <%= ff.label(:primary_province, "Province: (primary)") %>
        <%= ff.select :province_id, @provincearray %>
        <%= ff.hidden_field :primary, value: true  %><br /><br />
      <% end %>

      <%= label_tag 'provinces', 'Other Provinces of Focus:' %>
      <% @provinces.each do |province| %>
        <%= check_box_tag "provinces[]", province.id %> <%= province.name %>
        <%= hidden_field_tag :primary, value: false  %><br />
      <% end %>
       <br /><br />

      <%= f.label(:telephone, "Telephone:") %>
      <%= f.telephone_field(:telephone, placeholder: "(0 54 11) 43849009") %>

      <%= f.label(:fax, "Fax:") %>
      <%= f.telephone_field(:fax, placeholder: "4384-9009 int 1213") %><br /><br />

      <%= f.label(:email, "Email:") %>
      <%= f.email_field(:email, placeholder: "e.g. info@helpargentina.org") %><br /><br />

      <%= f.label(:website, "Website:") %>
      <%= f.url_field(:website, placeholder: "e.g. www.HelpArgentina.org") %><br /><br />

      <%= f.label(:twitter, "Twitter ID:") %>
      <%= f.text_field(:twitter, placeholder: "e.g. @helpargentina") %><br /><br />

      <%= f.label(:youtube, "Youtube video url:") %>
      <%= f.url_field(:website, placeholder: "e.g. http://www.youtube.com/watch?v=Lrnd5nlSA1Q") %>

      <%= f.label(:linkedin, "LinkedIn url:") %>
      <%= f.url_field(:linkedin, placeholder: "e.g. http://www.linkedin.com/company/42360") %>

      <%= f.label(:facebook, "Facebook url:") %>
      <%= f.url_field(:facebook, placeholder: "e.g. https://www.facebook.com/fundacion.helpargentina") %>

      <br /><br />
      


      <%= f.label(:mission, "Mission Statement:") %>
      <%= f.text_area :mission, placeholder: "e.g. Promover la filantropía conectando individuos, empresas y fundaciones con organizaciones de la sociedad civil en Argentina que trabajan bajo criterios de transparencia y buenas prácticas." %>



    	<%= f.label("TEAM") %>
    	<%= f.label(:fte, "Full Time:") %>
      <%= f.number_field(:fte, placeholder: "e.g. 6") %>
      <%= f.label(:pte, "Part Time:") %>
      <%= f.number_field(:pte, placeholder: "e.g. 0") %>
      <%= f.label(:volunteer, "Volunteers (full time):") %>
      <%= f.number_field(:volunteers, placeholder: "e.g. 2") %><br />
      <%= f.label(:leader_name, "Team Leader (employee with max authority):") %>
      <%= f.text_field  :leader_name, placeholder: "e.g. Guillermo Correa" %><br />
      <%= f.text_field  :leader_title, placeholder: "e.g. Executive Director" %><br />

      <%= f.label("Check the box if your organization:") %>
    	<%= f.check_box(:vat_exempt) %>
    	<%= f.label(:vat_exempt, "...is exempt from the value-add-tax.") %>

    	<%= f.check_box(:income_exempt) %>
    	<%= f.label(:income_exempt, "...is exempt from the income tax.") %>

    	<%= f.check_box(:int_branch) %>
      <%= f.label(:int_branch, "...is a branch of an international organization? (e.g. Greenpeace Argentina).") %>

    	<%= f.check_box(:tax_ded) %>
    	<%= f.label(:tax_ded, "...enables its donor to write-off there donations to you as tax deductibile.") %>

    	<%= f.check_box(:code_conduct) %>
    	<%= f.label(:code_conduct, "...has a written code of conduct policy.") %>

    	<%= f.check_box(:trans_policy) %>
    	<%= f.label(:trans_policy, "...has a written transparency policy.") %>

    	<%= f.check_box(:external_auditor) %>
    	<%= f.label(:external_auditor, "...does an annual audit of its financial records and reports by an external third party.") %>
    	<%= f.label(:auditor_name, "Who?") %>
    	<%= f.text_field :auditor_name, placeholder: "e.g. Estudio Balter y Asoc" %>

    	<%= f.check_box(:annual_reporting) %>
    	<%= f.label(:annual_reporting, "...publically shared and communicated its financial reporting last year.") %>

    	<%= f.check_box(:external_prog_eval) %>
    	<%= f.label(:external_prog_eval, "...had its programs evaluated by an external party last year.") %><br /><br />
      
      <%= f.label(:founding_date, "Founding Date:") %>
      <%= f.date_select(:founding_date, order: [:day, :month, :year]) %><br /><br />

      <%= f.label(:starting_date, "Starting Date:") %>
      <%= f.date_select(:starting_date, order: [:day, :month, :year]) %><br /><br />

      
      <%= f.fields_for :legal do |ff| %>
        <%= ff.label(:legal_type, "Legal Entity Type:") %>
        <%= ff.select(:legal_type, @legalnames) %>
      <% end %><br /><br />



      <%= f.label(:legal_num, "Legal Entity Number:") %>
      <%= f.number_field(:legal_num, placeholder: "e.g. 11128") %>

      <%= f.label(:cuit, "CUIT:") %>
      <%= f.text_field(:cuit, placeholder: "e.g. 30-70854145-8") %>



      <%= f.fields_for :objectives do |o| %>
        <%= o.label(:summary, "Objectives:") %>
        <%= o.text_area :summary, rows: 3, placeholder: "e.g. Asesorar a donantes (tanto individuos como organizaciones) en sus procesos de inversión social en la Argentina." %>
      <% end %>  
      <%= f.fields_for :objectives do |o| %>
        <%= o.text_area :summary, rows: 3, placeholder: "e.g. Asesorar a donantes (tanto individuos como organizaciones) en sus procesos de inversión social en la Argentina." %>
      <% end %>  
      <%= f.fields_for :objectives do |o| %>
        <%= o.text_area :summary, rows: 3, placeholder: "e.g. Asesorar a donantes (tanto individuos como organizaciones) en sus procesos de inversión social en la Argentina." %>
      <% end %>  
        <p class="markup-text">NEEDS TO SHOW ONE BOX AND DYNAMICALLY ADD NEW ONES</p>
      
      <%= label_tag 'causes', 'Causes:' %>
      <% @causes.each do |cause| %>
        <%= check_box_tag "causes[]", cause.id %> <%= cause.description %><br>
      <% end %>
      <br /><br />
      
      <%= label_tag 'ages', 'Age Groups:' %>
      <% @ages.each do |age| %>
        <%= check_box_tag "ages[]", age.id %> <%= age.description %><br>
      <% end %>
       <br /><br />


      <%= label_tag 'activities', 'Activity Type:' %>
      <% @activities.each do |activity| %>
        <%= check_box_tag "activities[]", activity.id %> <%= activity.description %><br>
      <% end %><br>


      
      <%= f.fields_for :branches do |ff| %>
        <%= ff.label(:description, "Branches:") %>
        <%= ff.text_area :description, rows: 3, placeholder: "e.g. Ctro de Recuperación Nutricional 'Madre Teresa de Calcuta'" %>
      <% end %>
      <%= f.fields_for :branches do |ff| %>
        <%= ff.text_area :description, rows: 3, placeholder: "e.g. Ctro de Recuperación Nutricional 'Madre Teresa de Calcuta'" %>
      <% end %>
      <%= f.fields_for :branches do |ff| %>
        <%= ff.text_area :description, rows: 3, placeholder: "e.g. Ctro de Recuperación Nutricional 'Madre Teresa de Calcuta'" %>
      <% end %>
      <p class="markup-text">NEEDS TO SHOW ONE BOX AND DYNAMICALLY ADD NEW ONES</p>

      <h3><%= f.label("Documentation Accessiblity") %></h3>



      <%= f.label("Articles of Incorporation") %>
      <%= f.check_box(:articles_web) %> <%= f.label(:articles_web, "Web") %>
      <%= f.check_box(:articles_office) %> <%= f.label(:articles_office, "Office") %>

      
      <%= f.label("By-Laws") %>
      <%= f.check_box(:bylaws_web) %> <%= f.label(:bylaws_web, "Web") %>
      <%= f.check_box(:bylaws_office) %> <%= f.label(:bylaws_office, "Office") %>

      <%= f.label("Director Appointments Resolutions") %>
      <%= f.check_box(:appts_web) %> <%= f.label(:appts_web, "Web") %>
      <%= f.check_box(:appts_office) %> <%= f.label(:appts_office, "Office") %>

      <%= f.label("AFIP Incorporation") %>
      <%= f.check_box(:inscript_web) %> <%= f.label(:inscrpt_web, "Web") %>
      <%= f.check_box(:inscript_office) %> <%= f.label(:inscript_office, "Office") %>

      <%= f.label("Director Appointments Resolutions") %>
      <%= f.check_box(:boardres_web) %> <%= f.label(:boardres_web, "Web") %>
      <%= f.check_box(:boardres_office) %> <%= f.label(:boardres_office, "Office") %>

      <%= f.label("Annual Report & Budget") %>
      <%= f.check_box(:report_web) %> <%= f.label(:report_web, "Web") %>
      <%= f.check_box(:report_office) %> <%= f.label(:report_office, "Office") %>
</fieldset>


<fieldset>
  <h2>PROGRAMS</h2>
  <h4><%= f.label("Number of Active Programs Last Year Directly Targeting:") %></h4>
    <%= f.label(:num_prog_ind, "Individuals:") %>
    <%= f.number_field(:num_prog_ind, placeholder: "e.g. 3") %>
    <%= f.label(:num_prog_org, "Organizations:") %>
    <%= f.number_field(:num_prog_org, placeholder: "e.g. 1") %>
    <%= f.label(:num_prog_pub, "The General Public:") %>
  <%= f.number_field(:num_prog_pub, placeholder: "e.g. 1") %><br />

  <h4><%= f.label("Principal Programs & Activities:") %></h4>
  <p><%= f.label("Describe your top programs in order of budgetary expense.") %></p>
  
  <%= f.fields_for :programs do |ff| %>
      <h4>Program 1</h4>
      <%= ff.label(:pro_name, "Name:") %>
      <%= ff.text_field(:pro_name, placeholder: "e.g. Red de Organizaciones Miembro") %>
      <%= ff.label(:pro_goal, "Objective:") %>
      <%= ff.text_field(:pro_goal, placeholder: "e.g. Acompañar y facilitar los esfuerzos de desarrollo de recursos en el exterior de organizaciones sin fines de lucro (OS) constituidas legalmente en Argentina") %>
      <%= ff.label(:pro_description, "Description: (good and services provided/activities executed)") %>
      <%= ff.text_area :pro_description, rows: 6, placeholder: "e.g. Se busca otorgar herramientas para que organizaciones argentinas puedan recibir fácilmente donaciones del exterior: facilitar el procesamiento y recepción de las donaciones; ofrecer a donantes residentes en EEUU la posibilidad de acceder a la deducción impositiva por las donaciones que realiza. Las organizaciones interesadas forman parte de la Red de Organizaciones Miembro de HelpArgentina (ROM). Para ello deben atravesar un proceso de evaluación en el que se exige a las organizaciones que cumplan con sus obligaciones legales e impositivas y que trabajen bajo estándares de transparencia y buenas prácticas. " %>
      <%= ff.label(:pro_target, "Target Beneficiaries: (include number of direct beneficiaries)") %>
      <%= ff.text_field(:pro_target, placeholder: "e.g. Organizaciones Sociales constituidas legalmente en Argentina - 80") %>
      <%= ff.label(:pro_location, "Location: (places implemented)") %>
      <%= ff.text_field(:pro_location, placeholder: "e.g. Por todo el pais.") %>
      <%= ff.label(:pro_budget, "Budget: ($ARG)") %>
      <%= ff.number_field(:pro_budget, placeholder: "e.g. 495000") %>
      <%= ff.label(:pro_funding_sources, "Funding Sources:") %>
      <%= ff.text_area(:pro_funding_sources, placeholder: "e.g. Recursos generales de la organización.") %>
      <%= ff.label(:pro_affiliations, "Partnerships: (which other organizations are collaborating on this program)") %>
      <%= ff.text_area(:pro_affiliations, placeholder: "e.g. RACI") %>
      <%= ff.label(:pro_metrics, "Peformance Metrics:") %>
      <%= ff.text_area(:pro_metrics, placeholder: "e.g. (1) Cantidad de organizaciones argentinas que reciben donaciones del exterior.  (2) Crecimiento de la Red de Organizaciones Miembro") %>
      <%= ff.label(:pro_results, "Measureable Success Achieved: (last calendar year finished") %>
      <%= ff.text_area(:pro_results, placeholder: "e.g. En el año 2011: (1) más de 80 organizaciones argentinas han recibido donaciones del exterior por un total de más de US$ 1,200,000.   (2) 8 nuevas organizaciones se sumaron a la Red de Organizaciones Miembro") %>
    <% end %>  
  
  <br><br>
  
  
    
  
    <%= f.fields_for :programs do |ff| %>
        <h4>Program 2</h4>
        <%= ff.label(:pro_name, "Name:") %>
        <%= ff.text_field(:pro_name, placeholder: "e.g. Red de Organizaciones Miembro") %>
        <%= ff.label(:pro_goal, "Objective:") %>
        <%= ff.text_field(:pro_goal, placeholder: "e.g. Acompañar y facilitar los esfuerzos de desarrollo de recursos en el exterior de organizaciones sin fines de lucro (OS) constituidas legalmente en Argentina") %>
        <%= ff.label(:pro_description, "Description: (good and services provided/activities executed)") %>
        <%= ff.text_area :pro_description, rows: 6, placeholder: "e.g. Se busca otorgar herramientas para que organizaciones argentinas puedan recibir fácilmente donaciones del exterior: facilitar el procesamiento y recepción de las donaciones; ofrecer a donantes residentes en EEUU la posibilidad de acceder a la deducción impositiva por las donaciones que realiza. Las organizaciones interesadas forman parte de la Red de Organizaciones Miembro de HelpArgentina (ROM). Para ello deben atravesar un proceso de evaluación en el que se exige a las organizaciones que cumplan con sus obligaciones legales e impositivas y que trabajen bajo estándares de transparencia y buenas prácticas. " %>
        <%= ff.label(:pro_target, "Target Beneficiaries: (include number of direct beneficiaries)") %>
        <%= ff.text_field(:pro_target, placeholder: "e.g. Organizaciones Sociales constituidas legalmente en Argentina - 80") %>
        <%= ff.label(:pro_location, "Location: (places implemented)") %>
        <%= ff.text_field(:pro_location, placeholder: "e.g. Por todo el pais.") %>
        <%= ff.label(:pro_budget, "Budget: ($ARG)") %>
        <%= ff.number_field(:pro_budget, placeholder: "e.g. 495000") %>
        <%= ff.label(:pro_funding_sources, "Funding Sources:") %>
        <%= ff.text_area(:pro_funding_sources, placeholder: "e.g. Recursos generales de la organización.") %>
        <%= ff.label(:pro_affiliations, "Partnerships: (which other organizations are collaborating on this program)") %>
        <%= ff.text_area(:pro_affiliations, placeholder: "e.g. RACI") %>
        <%= ff.label(:pro_metrics, "Peformance Metrics:") %>
        <%= ff.text_area(:pro_metrics, placeholder: "e.g. (1) Cantidad de organizaciones argentinas que reciben donaciones del exterior.  (2) Crecimiento de la Red de Organizaciones Miembro") %>
        <%= ff.label(:pro_results, "Measureable Success Achieved: (last calendar year finished") %>
        <%= ff.text_area(:pro_results, placeholder: "e.g. En el año 2011: (1) más de 80 organizaciones argentinas han recibido donaciones del exterior por un total de más de US$ 1,200,000.   (2) 8 nuevas organizaciones se sumaron a la Red de Organizaciones Miembro") %>
      <% end %>  
      <p class="markup-text">NEEDS TO SHOW ONE SET OF FIELDS AND DYNAMICALLY ADD NEW ONES</p>
</fieldset>

<fieldset>
  <h2>TEAM</h2>
  <%= f.fields_for :board  do |b| %>
    <%= b.label(:bytpe, "Type of Governing Body:") %>
    <%= b.text_field :btype, placeholder: "e.g. Board of Directors" %>
    <%= b.fields_for :people do |p| %>
      <h4>Directors</h4>
      <%= p.label(:name, "Name:") %>
      <%= p.text_field :name, placeholder: "e.g. Diego Ferrari" %>
      <%= p.label(:in_position, "Title (for Org):") %>
      <%= p.text_field :in_position, placeholder: "e.g. Vice-Presidente" %>
      <%= p.label(:out_position, "Title (outside Org):") %>
      <%= p.text_field :out_position, placeholder: "e.g. Socio Gerente Ferrari & Cambiasso" %>
    <% end %>
  <% end %>
  <p class="markup-text">NEEDS TO SHOW ONE SET OF FIELDS AND DYNAMICALLY ADD NEW ONES</p>

  <%= f.fields_for :advisory  do |a| %>
    <%= a.fields_for :people do |p| %>
      <h4>Advisors</h4>
      <%= p.label(:name, "Name:") %>
      <%= p.text_field :name, placeholder: "e.g. Juan Carr" %>
      <%= p.label(:out_position, "Title, Organization:") %>
      <%= p.text_field :out_position, placeholder: "e.g. Fundador, Red Solidaria" %>
    <% end %>
  <% end %>
  <p class="markup-text">NEEDS TO SHOW ONE SET OF FIELDS AND DYNAMICALLY ADD NEW ONES</p>

</fieldset>

<fieldset>
  <h2>FINANCIALS</h2>
</fieldset>

<fieldset>
  <h2>AFFILIATIONS</h2>
</fieldset>


<fieldset>
  <br>
    <h3><%= f.label("Certification") %></h3>
    <%= f.label("Accuracy of this information needs to be certified by the highest authorized staff member and a board member.") %><br>
    <%= f.label(:certifier_name1, "Name") %>
    <%= f.text_field(:certifier_name1, placeholder: "e.g. Guillermo Correa") %>
    <%= f.label(:certifier_title1, "Title") %>
    <%= f.text_field(:certifier_title1, placeholder: "e.g. Executive Director") %>  
    <%= f.label(:certifier_name2, "Name") %>
    <%= f.text_field(:certifier_name2, placeholder: "e.g. Robert Hannan") %>
    <%= f.label(:certifier_title2, "Title") %>
    <%= f.text_field(:certifier_title2, placeholder: "e.g. Board Director") %>
  <br>
</fieldset>




	<br /><br /><br />
  <%= f.submit "Save & Create Profile", :id => 'new_org_button', :class => "undefined"  %>




<% end %>
    </fieldset>
  </div>
</div>
