<div class="resultspage_wrapper"> 
  <div id="left-search">

 
    <div class="facets">
    <%= will_paginate @search_results %>
    </div>

    <div class="facets">
      <h5><%= t("Search")%> <%=t("Organizations")%></h5>
      <%= form_tag :search_orgs, method: :get do %>
      <%= text_field_tag :search_terms, nil, placeholder: t("Search_by") %>
      <%= submit_tag t("Search") %>
      <% end %>
    </div>


    <div class="facets">
    <h5>Transparency</h5>
    <ul>
    <% @search.facet(:transparency).rows.each do |row| %>
      <li>
        <% if params[:transparency].blank? %>
          <%= link_to " ★ "*row.value + " ☆ " * (3 - row.value), :transparency => row.value %> (<%= row.count %>)
        <% else %>
          <strong><%= " ★ "*row.value + " ☆ " * (3 - row.value) %></strong> (<%= link_to "remove", :transparency => nil %>)
        <% end %>
      </li>
    <% end %>
  </ul>
  </div>

  <div class="facets">
  <h5> Location </h5>
  <ul>
    <% @search.facet(:locations).rows.each do |row| %>
      <li>
        <% if params[:locations].blank? %>
          <%= link_to row.value, :locations => row.value  %> (<%= row.count %>)
        <% else %>
          <strong><%= row.value %></strong> (<%= link_to "remove", :locations => nil %>)
        <% end %>
      </li>
    <% end %>
  </ul>
  </div>

  <div class="facets">
  <h5> Causes </h5>
  <ul>
    <% @search.facet(:causes).rows.each do |row| %>
      <li>
        <% if params[:causes].blank? %>
          <%= link_to row.value, :causes => row.value %> (<%= row.count %>)
        <% else %>
          <strong><%= row.value %></strong> (<%= link_to "remove", :causes => nil %>)
        <% end %>
      </li>
    <% end %>
  </ul>
  </div>
</div>




<div id="right-search">
    <% @search_results.each do |result| %>
     <div class="results-container">
        <% if result.transparency == 0 %>
        <h5><font color="grey"> <%= result.name %> (profile pending approval)</font> </h5> 
        <%else%>
            <h5><%= link_to "#{result.name}", controller: :orgs, action: :show, id: "#{result.id}" %>
              <% result.transparency.times do %>
                <i class='fi-star star'></i>
        <% end %>
    <% end %>
            </h5>
            <table>
              <td class="search-results-image-box"><%= image_tag(result.logo_url, :alt =>"") %> </td>
              <td class="search-results-content-box">
                <ul>
                  <li><%=t("Provinces")%>: <%= result.provinces.map {|p| p.name }.join(', ')%></li>
                  <li><%=t("Causes")%>: <%= result.causes.map { |c| c.description }.join(', ') %></li>
                  <li>2013 <%=t("Budget")%>: P$XXXXX</li>
                </ul>
              </td >
            </table>
    
  </div>
  <%end%>
</div>
</div>





