<div class="org-window-holder">

<div class="org-header-wrap">
  <div class="org-main-window">
     <%= render partial: 'org_header-main' %>
  </div>
     <%= render partial: 'org-header-side' %>
</div>

  <div class='org-main-window'>
  <%= render partial: 'org_navigation' %>
  <%= render partial: 'main_window' %>
  </div>

  <%= render partial: 'side_window' %>
</div>