<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>OpenNGO</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="css/normalize.css" />
  <link rel="stylesheet" href="css/foundation.css" />
  <script src="js/vendor/custom.modernizr.js"></script>
</head>
<body>
  <nav class="top-bar">
    <ul class="title-area">
      <li class="name"><a href="#"><%=image_tag 'logo.png', :class => "logo" %></a></li>
    </ul>
    <section class="top-bar-section">
      <ul class="right">
        <li><% link_to 'About', page_path('about')%></li>
        <!-- <li><a href="#">About</a></li> -->
        <li><a href="#">Login</a></li>
        <li><a href="/orgs/new" class="tiny button radius">Sign Up</a></li>
      </ul>
    </section>
  </nav>
  <div class="container">
    <%= yield %>
    
  </div>

  <div class="foot">
      <%= link_to_unless I18n.locale == :en, "", :locale => "en" do %>
        <%=image_tag 'AR.svg', :class => "flag" %>
      <% end %>
      <%= link_to_unless I18n.locale == :es, "",:locale  => "es" do %>
        <%=image_tag 'US.png', :class => "flag" %>
      <% end %>
      <p>Dev Bootcamp Students Contribution to Help Agentina (2013)</p>
    </div>
  
</body>
 
</html>
