<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>OpenNGO</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>  
  <div class="fixed">
    <nav class="top-bar" data-options="is_hover:false">
      <ul class="title-area">
        <li class="name"><a href="/"><%=image_tag 'logo.png', :class => "logo" %></a></li>
      </ul>
      <section class="top-bar-section" data-options="is_hover:false">
        <ul class="right">
          <li><%= link_to 'About', page_path('about')%></li>
          <li><a href="#">Login</a></li>
          <li><a href="/orgs/new" class="tiny button radius">Sign Up</a></li>
        </ul>
      </section>
    </nav>
  </div>
  <div class="container">
    <%= yield %>
  </div>

  <div class="foot">

    <%= link_to_unless I18n.locale == :es, (image_tag ('AR.svg'), :class => "flag") , :locale => :es %>
    <%= link_to_unless I18n.locale == :en, (image_tag ('US.png'), :class => "flag"), :locale  => :en %>
    <p>Dev Bootcamp Students Contribution to Help Agentina (2013)</p>
  </div>
  <script>
    $(document).foundation();
  </script>

</body>

</html>
