<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>OpenNGO</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="css/normalize.css" />
  <link rel="stylesheet" href="css/foundation.css" />
  <script src="js/vendor/custom.modernizr.js"></script>
  <script src="/js/custom.modernizr.js"></script>
</head>
<body>
  <script>
  document.write('<script src=/js/vendor/'
    + ('__proto__' in {} ? 'zepto' : 'jquery')
    + '.js><\/script>');
  </script>
  <script src="js/foundation/foundation.js"></script>
  <script src="js/foundation/foundation.dropdown.js"></script>
  
  <div class="fixed">
  <nav class="top-bar">
    <ul class="title-area">
      <li class="name"><a href="#"><%=image_tag 'logo.png', :class => "logo" %></a></li>
    </ul>
    <section class="top-bar-section">
      <ul class="right">
        <li><a href="#">About</a></li>
        <li><a href="#">Login</a></li>
        <li><a href="/orgs/new" class="tiny button radius">Sign Up</a></li>
      </ul>
    </section>
  </nav>
  </div>
  <div class="container">
    <%= yield %>
  </div>

  <div class="foot">

    <%= link_to_unless I18n.locale == :es, (image_tag ('AR.svg'), :class => "flag") , :locale => :es %>
    <%= link_to_unless I18n.locale == :en, (image_tag ('US.png'), :class => "flag"), :locale  => :en %>
    <p>Dev Bootcamp Students Contribution to Help Agentina (2013)</p>
  </div>
  <script>
    $(document).foundation();
  </script>

</body>

</html>
